@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+PE:wght@100..400&display=swap');


/* global color and font */
:root {
    --primary-color: #E6533C;
    --light-bg: #222222;
    --playWrite-font: "Playwrite PE", cursive;
    --inter-font: "Inter", sans-serif;
}


/* Global css */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: #000;
    font-family: var(--inter-font);
    color: #fff;
}

section {
    margin: 30px 0px;
}
.container {
    width: 85%;
    max-width: 1280px;
    margin: auto;
    padding: 30px 20px;
}

.section-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    line-height: 4.5rem;
}

.section-description {
    font-size: 14px;
    line-height: 21px;
    margin: auto;
    margin-bottom: 30px;
    opacity: .5;
    text-align: center;
    max-width: 600px;
}

/* Nav Bar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .logo {
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    color: var(--primary-color);
}
.mobile-menu {
    display: none;
}
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.nav-links .nav-link {
    text-decoration: none;
    font-weight: normal;
    color: #fff;
}
.active {
    background-color: var(--primary-color);
    padding: 8px 24px;
    border-radius: 46px;
}

/* Banner */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner > div {
    max-width: 50%;
}
.banner-title {
    font-size: 4.8rem;
    line-height: 6.25rem;
}
.banner-title span {
    font-family: var(--playWrite-font);
    font-weight: normal;
    font-style: italic;
}
.banner-description {
    font-size: 16px;
    opacity: .5;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
    max-width: 75%;
}
.buttons {
    display: flex;
    column-gap: 20px;
    padding-top: 20px;
}
.button {
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
}
.primary-button {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}
.banner-image {
    position: relative;
}
.number-of-tutorial, .number-of-workout {
    padding: 10px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 14px -5px #fff;
    background-color: rgba(48, 48, 48, .5);
}

.number-of-workout {
    align-items: start;
    flex-direction: column;
    position: absolute;
    top: 130px;
    right: 0px;
}
.number-of-workout h3 {
    font-size: 40px;
    line-height: 60px;
}
.number-of-workout p {
    opacity: .5;
    font-size: 13px;
}
.number-of-tutorial {
    column-gap: 20px;
    position: absolute;
    bottom: 60px;
    left: 0px;
}
.number-of-tutorial h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 800;
}
.number-of-tutorial p {
    font-size: 16px;
    opacity: .5;
}
.icon-box {
    background: var(--primary-color);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}


/* Change habits */
.habits {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    gap: 30px;
}
.habit {
    text-align: center;
}
.habit img {
    border-radius: 50%;
    padding-bottom: 30px;
}
.habit h4 {
    font-size: 18px;
}
.habit p {
    opacity: .5;
    font-size: 14px;
    line-height: 21px;
    margin: auto;
    margin-top: 10px;
    width: 300px;
    
}

/* Run Extra Section */
.extra-run {
    display: flex;
    background-color: var(--light-bg);
    border-radius: 18px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.extra-run .extra-run-content {
    max-width: 32%;
}
.extra-run-content h2 {
    text-align: left;
}
.extra-run-content p {
    text-align: left;
}
.extra-run > div {
    max-width: 40%;
}
.extra-run img {
    width: 100%;
    border-radius: 18px;
}

/* mobile device */
@media  screen and (max-width: 576px) {
    html {
        font-size: 10px;
        line-height: 18px;
    }
    .container{
        max-width: 98%;
    }
    /* banner for mobile */
    .nav-links {
        display: none;
    }
    .mobile-menu {
        display: block;
        font-size: 30px;
    }
    .banner {
        flex-direction: column;
    }
    .banner > div {
        max-width: 100%;
    }
    
    .button {
        font-size: 16px;
        padding: 15px 20px;
    }
    .number-of-workout {
        top: 70px;
    }
    .number-of-tutorial {
        left: -30px;
        bottom: 250px;
    }

    /* habit section */
    .habits, .extra-run {
        flex-direction: column;
    }
    .extra-run > div, .extra-run > .extra-run-content {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .extra-run .button {
        width: 100%;
        display: block;
        text-align: center;
    }
}